.redlist__possibility-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.redlist__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.redlist__possibility-image img {
    width: 100%;
    height: 100%;
}

.redlist__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.redlist__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #b8b8b8;
}

.redlist__possibility-content h4:last-child {
    color: #0d66b4;
}

.redlist__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.redlist__possibility-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .redlist__possibility {
        flex-direction: column;
    }

    .redlist__possibility-image {
        margin: 1rem 0;
    }

    .redlist__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .redlist__possibility-image img {
        width: 100%;
        height: 100%;
    }
}
