@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, white 1.84%, white 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #0d66b4 -13.86%, #0d66b4 99.55%);
  
  --color-bg: #0d66b4;
  --color-footer : rgb(231, 233, 234);
  --color-blog: #042c54;
  --color-text: black;
  --color-subtext: white;
}